* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}
.App {
  font-family: sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #0b2447;
}

.container {
  margin-top: 20px;
  /* min-width: 320px; */
  width: auto;
  padding: 20px;
  border: 1px solid white;
  box-shadow: 1px 1px 5px black;
  border-radius: 10px;
  background-color: #19376d;
}

.input__fields {
  display: flex;
  gap: 10px;
}

.input__fields form input {
  width: 100%;
}

.input__fields button {
  padding: 0 20px;
  border: none;
  outline: none;
  background-color: #2c3333;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 10px;
  background-color: hsl(42, 100%, 63%);
  color: #03001c;
}

.task__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.task h2 {
  color: #a5d7e8;
}

.task button {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  display: grid;
  place-content: center;
  background-color: #e94560;
  color: white;
}

@media (max-width: 680px) {
  .App {
    padding: 0 10px;
  }
  .input__fields {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}
